# IDE
.vscode
.history/
thunder-tests/

# Language-specific files
node_modules/
__pycache__/

# DB
postgres/

# Project
config.json

bot/package.json
bot/package-lock.json
bot/pity/
bot/apollo/
bot/RAFK.json

src/pity/
src/apollo/

api/


