# IDE
.vscode
.history/
.idea/
thunder-tests/
.eslintcache

# Language-specific files
node_modules/
__pycache__/

# DB
postgres/
*.sqlite3
*.sqlite

# Project
config.json
incomplete.txt

delete_user_waifus.sql

src/assets/waifus/Unused/
src/josh.ts
src/tankrec

bot/package.json
bot/package-lock.json
bot/rafk.json
bot/mrast.json
bot/rast.json
bot/waifus.json
bot/assets/
