# IDE
.vscode
.history/
thunder-tests/
.eslintcache

# Language-specific files
node_modules/
__pycache__/

# DB
postgres/

# Project
config.json

bot/package.json
bot/package-lock.json
bot/pity/
bot/apollo/
bot/plane/RAFK.json
bot/plane/air_rec.json

src/pity/
src/apollo/
src/nuke/

api/


